* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}
.van-empty {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.van-empty .van-empty__image {
  width: 200px;
  height: auto;
}
.van-empty .van-empty__description {
  padding: 0;
}
